* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border:crimson 16px solid;
    background-color: khaki;
    outline: 10px solid black;
    position: relative;
    width: 95%;
    height: 95%;


}

.container h1 {
    color: black;
    font-size: 72px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
}